## 피벗테이블 사용하기

In [1]:
#라이브러리 불러오기
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/도로교통공단_사망 교통사고 정보_20201231.csv',encoding='cp949')

In [3]:
df.columns

Index(['발생년', '발생년월일시', '주야', '요일', '사망자수', '부상자수', '중상자수', '경상자수', '부상신고자수',
       '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반',
       '도로형태_대분류', '도로형태', '가해자_당사자종별', '피해자_당사자종별', '발생위치X_UTMK',
       '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [4]:
#2개 이상의 데이터를 보기위해서 groupby와 pivot_table을 사용
df.groupby('요일').mean() #요일로 그룹핑해서 각 수치형데이터의 각 컬렴별 평균을 반환

,발생년,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
요일,,,,,,,,,,
금,2020.0,1.030905,0.445916,0.183223,0.231788,0.030905,1.005389e+06,1.816530e+06,127.556587,36.342818
목,2020.0,1.044118,0.458333,0.178922,0.250000,0.029412,1.007522e+06,1.822871e+06,127.581587,36.400358
수,2020.0,1.020747,0.620332,0.230290,0.344398,0.045643,1.005827e+06,1.810584e+06,127.562058,36.289475
월,2020.0,1.038636,0.534091,0.170455,0.336364,0.027273,9.966097e+05,1.821205e+06,127.460452,36.385404
일,2020.0,1.043127,0.498652,0.239892,0.237197,0.021563,1.007579e+06,1.823150e+06,127.581932,36.402917
토,2020.0,1.035443,0.673418,0.222785,0.412658,0.037975,1.012030e+06,1.807947e+06,127.630716,36.265344
화,2020.0,1.020737,0.430876,0.188940,0.223502,0.018433,1.003424e+06,1.815831e+06,127.535960,36.336799

In [6]:
df.groupby('요일').count() #각 컬럼별 빈도수(범주형 포함).데이터 프레임
#df.groupby('요일').size()#빈도수.시리즈

요일
금    453
목    408
수    482
월    440
일    371
토    395
화    434
dtype: int64

In [10]:
df.groupby(['사고유형_대분류','사고유형_중분류'])['사망자수'].count()

사고유형_대분류  사고유형_중분류
차대사람      기타            286
          길가장자리구역통행중     40
          보도통행중          26
          차도통행중         192
          횡단중           518
차대차       기타            295
          정면충돌          165
          추돌            351
          측면충돌          428
          후진중충돌           4
차량단독      공작물충돌         324
          기타            124
          도로이탈          113
          전도             88
          전복             24
          주/정차차량 충돌       4
철길건널목     철길건널목           1
Name: 사망자수, dtype: int64

In [14]:
df.groupby(['사고유형_대분류','사고유형_중분류'])['사망자수'].agg(['count','mean','median'])

                     count      mean  median
사고유형_대분류 사고유형_중분류
차대사람     기타            286  1.006993     1.0
         길가장자리구역통행중     40  1.000000     1.0
         보도통행중          26  1.000000     1.0
         차도통행중         192  1.015625     1.0
         횡단중           518  1.003861     1.0
차대차      기타            295  1.027119     1.0
         정면충돌          165  1.096970     1.0
         추돌            351  1.054131     1.0
         측면충돌          428  1.030374     1.0
         후진중충돌           4  1.000000     1.0
차량단독     공작물충돌         324  1.049383     1.0
         기타            124  1.048387     1.0
         도로이탈          113  1.079646     1.0
         전도             88  1.022727     1.0
         전복             24  1.083333     1.0
         주/정차차량 충돌       4  1.000000     1.0
철길건널목    철길건널목           1  1.000000     1.0

In [12]:
#pivot_table()은 gruopby와 거의 같은 기능이나 직관적이다
#df.groupby('요일').count()
df.pivot_table(index='요일',aggfunc='count')

,가해자_당사자종별,가해자법규위반,경도,경상자수,도로형태,도로형태_대분류,발생년,발생년월일시,발생위치X_UTMK,발생위치Y_UTMK,...,부상신고자수,부상자수,사고유형,사고유형_대분류,사고유형_중분류,사망자수,위도,주야,중상자수,피해자_당사자종별
요일,,,,,,,,,,,,,,,,,,,,,
금,453,453,453,453,453,453,453,453,453,453,...,453,453,453,453,453,453,453,453,453,453
목,408,408,408,408,408,408,408,408,408,408,...,408,408,408,408,408,408,408,408,408,408
수,482,482,482,482,482,482,482,482,482,482,...,482,482,482,482,482,482,482,482,482,482
월,440,440,440,440,440,440,440,440,440,440,...,440,440,440,440,440,440,440,440,440,440
일,371,371,371,371,371,371,371,371,371,371,...,371,371,371,371,371,371,371,371,371,371
토,395,395,395,395,395,395,395,395,395,395,...,395,395,395,395,395,395,395,395,395,395
화,434,434,434,434,434,434,434,434,434,434,...,434,434,434,434,434,434,434,434,434,434

In [13]:
#df.groupby(['사고유형_대분류','사고유형_중분류'])['사망자수'].count()
df.pivot_table(index=['사고유형_대분류','사고유형_중분류'],values='사망자수',aggfunc='count')

                     사망자수
사고유형_대분류 사고유형_중분류
차대사람     기타           286
         길가장자리구역통행중    40
         보도통행중         26
         차도통행중        192
         횡단중          518
차대차      기타           295
         정면충돌         165
         추돌           351
         측면충돌         428
         후진중충돌          4
차량단독     공작물충돌        324
         기타           124
         도로이탈         113
         전도            88
         전복            24
         주/정차차량 충돌      4
철길건널목    철길건널목          1

In [15]:
#df.groupby(['사고유형_대분류','사고유형_중분류'])['사망자수'].agg(['count','mean','median'])
df.pivot_table(index=['사고유형_대분류','사고유형_중분류'],values='사망자수',aggfunc=['count','mean','median'])

                    count      mean median
                     사망자수      사망자수   사망자수
사고유형_대분류 사고유형_중분류
차대사람     기타           286  1.006993      1
         길가장자리구역통행중    40  1.000000      1
         보도통행중         26  1.000000      1
         차도통행중        192  1.015625      1
         횡단중          518  1.003861      1
차대차      기타           295  1.027119      1
         정면충돌         165  1.096970      1
         추돌           351  1.054131      1
         측면충돌         428  1.030374      1
         후진중충돌          4  1.000000      1
차량단독     공작물충돌        324  1.049383      1
         기타           124  1.048387      1
         도로이탈         113  1.079646      1
         전도            88  1.022727      1
         전복            24  1.083333      1
         주/정차차량 충돌      4  1.000000      1
철길건널목    철길건널목          1  1.000000      1